.Sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 200px;
  height: 90vh;
  border-right: 1px solid black;
  transition: 0.4s;
  margin-top: 64px;
  padding: 20px 10px;
}

.Sidebar-contents {
  display: flex;
  flex-direction: column;
}

.Sidebar .link {
  text-decoration: none;
  background-color: var(--larch);
  margin: 3px;
  padding: 10px;
  border-radius: 10px;
}

.Sidebar .link:hover {
  background-color: var(--llarch);
}

.Sidebar .link span {
  font-size: 13px;
}

.Sidebar:hover .home {
  margin: 10rem;
}

.Sidebar .logout-sec{
  display: flex;
  flex-direction: column;
}

.Sidebar .logout {
  background-color: var(--red);
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 3px;
  padding: 10px;
  border-radius: 10px;
}
