@import "tailwindcss";

:root {
  --bg-color: #f5f5f5;
  --text-color: #111;
  --card-bg: #fff;
}

.tickispot-icon{
  width: 62px;
  height: 62px;
}



/* Default Light Mode */
body {
  background-color: #f5f5f5;
  color: #111;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode {
  --bg-color: #00000000;
  --text-color: #f1f1f1;
  --card-bg: #1e1e1e;
}

/* Example reusable elements */
.container {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card {
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


/* ✅ Scroll Styling */
body::-webkit-scrollbar {
  width: 5px; /* width of scrollbar */
  
}

body::-webkit-scrollbar-track {
  background: transparent; /* scrollbar background */
}

body::-webkit-scrollbar-thumb {
  background-color: #6d6f70; /* default scrollbar color */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #ec4899; /* darker when hovered */
  width: 6px;
  cursor: pointer;
}

/* 🌙 Dark Mode Scrollbar */
.dark-mode body::-webkit-scrollbar-thumb {
  background-color: #ec4899; /* dark scrollbar thumb */
}

.dark-mode body::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}
