
.Sidebar{
    position: fixed;
    background-color: white ;
    width: 70px;
    height: 100vh;
    transition: .4s;
}

.Sidebar .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Sidebar .link span{
    font-size: 13px;
}

.Sidebar:hover .home{
    margin: 10rem;
}

.Sidebar-contents{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}